html,body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

table { width: 800px; }
td { padding: 5px; }

textarea { width:380px; height:80px; font-size:11px; }

pre { font-size: 11px; }

hr { border: none; height: 1px; background-color: #999; }

h1 { font-size: 18px; }
h2 { font-size: 16px; }

.navlink { padding:2px 4px 2px 4px; border-left:1px solid #999; border-bottom:1px solid #999; margin:0px 10px 0px 0px; color:#000;	text-decoration:none; }